html, body {
  margin: 0;
  padding: 0;
  font-family: Concourse, Helvetia, Arial, sans-serif;
}

a {
  text-decoration: inherit;
  display: inline-block;
}

a:link, a:hover, a:active, a:visited {
  color: inherit;
}

article a::first-letter {
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: x-large;
}

h2, h3, h4, h5, h6 {
  font-size: large;
}

h1.api, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-family: 'Concourse C', Helvetica, Arial, sans-serif;
}

nav h1 {
  font-family: 'Concourse C', Helvetica, Arial, sans-serif;
  color: #eee;
  font-size: xx-large;
  font-weight: normal;
  margin: 0 10px;
  text-align: center;
}

nav h2 {
  color: #666;
  margin: 20px 0 15px 0;
  text-align: center;
  font-weight: normal;
}

nav .links a {
  display: block;
  padding: 4px 10px;
  color: #eee;
}

nav .links a.api {
  font-family: 'Concourse C', Helvetica, Arial, sans-serif;
  padding-left: 20px;
  font-weight: normal;
}

nav .links a:hover, nav .links a:active, .github:hover, .github:active {
  text-decoration: none;
  background: #333;
}

article {
  padding: 10px 10px 10px 210px;
  margin: 0;
  max-width: 720px;
  line-height: 145%;
}

.highlight {
  border: 1px solid #aaa;
  margin: 1em 0.5em;
  padding: 0.5em;
}

.highlight, code {
  font-family: "Source Code Pro", Menlo, "Courier New", Courier, monospace;
  font-size: 90%;
}

p code, li code, figcaption code {
  background: #ddd;
  border-radius: 5px;
  padding: 0px 3px;
}

.github {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  padding: 4px 10px;
}

.github:link, .github:hover, .github:active, .github:visited {
  color: white;
}

.github img {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

figure.example {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  box-shadow: 3px 3px 5px gray;
  border: 1px solid gray;
}

figure.example > .left {
  margin: 0;
  padding: 5pt;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

figure.example > .right {
  margin: 0;
  padding: 5pt;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

figure.example > .left > p,
figure.example > .right > p {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

figure.example > figcaption {
  text-align: center;
  padding: 0 20pt;
}